<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- data=result array, item is each object in the result array, with forEach loop we don't need have to use index to access objects -->
    <% data.forEach(item => { %>
        <h3>
            <%= item.question %>
        </h3>
        <%}) %>
</body>

</html>