/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------*****------------------------------ */

header {
    background-color: rgba(252, 29, 177, 0.4);
    text-align: center;
    font-size: 3rem;
    color: white;
    position: absolute;
    width: 100vw;
}

.home-page-background {
    background-image: url("../public/images/1474370659940_trivia_1368.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.play-board {
    background-color: rgba(0, 8, 102, 0.3);
    width: 70vw;
    min-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.play-page-background {
    background-color: white;
    /* background-image: url("../public/images/playBackgr.jpg"); */
    /* width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed; */
}

.box-select {
    background-color: rgba(191, 63, 78, 0.6);
    width: 60vw;
    height: 60vh;
    margin: 10px;
    position: relative;
    top: 20%;
    left: 20%;
}

.label-box {
    height: 30vh;
    display: block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 28px;
    font-family: "Bangers", cursive;
    color: white;
}

.padding-select {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 35px;
    font-size: 28px;
}

#number-input {
    width: 70px;
}

.box-shadow {
    box-shadow: 5px 5px 5px black;
}

div button {
    /* border: 3px double greenyellow; */
    box-shadow: 5px 5px 5px black;
    width: 180px;
    height: 50px;
    margin: 5px 5px 30px 5px;
    border: solid 3px;
    /* the border will curve into a 'D' */
    border-radius: 40px 10px;
}

.box-question {
    background-color: white;
    font-size: 20px;
    width: 60vw;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    border: groove 1em red;
    border-radius: 2em;
}

.box1 {
    margin-top: 400px;
}

.box1 .active {
    background-color: blue;
    color: white;
}
